<section id="quotes">


  <h1>RON SWANSON QUOTE OF THE DAY</h1>

  <button ng-click="quotes.generateQuote()">Get Swansonized</button>

  <ul>
    <li>{{quotes.quote}}</li>
  </ul>

  <button ng-if="quotes.quote" ng-click="quotes.saveQuote(quotes.quote)">Save Me!</button>


  <h3 ng-click="quotes.getSavedQuote()">See All my saved quotes</h3>

  <ul>
    <li ng-repeat="quote in quotes.myQuotes track by $index" >{{quote.name}}

				<form ng-submit="quotes.editQuote(quote._id, $index)">
          <span>EDIT QUOTE: </span>
          <input type='text' ng-model="quote.name" placeholder='The new quote..'>
          <button>Edit</button>
        </form>

      <p ng-click="quotes.deleteQuote(quote._id)">Delete Quote</p>

    </li>

  </ul>

</section>
